body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #333;
  margin: 20px;
}

/*img {
  margin: 20px 0;
  max-width: 200px;
}*/

button {
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
}

.loading-bar {
  position: fixed;
  top: 5px;
  left: 50%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.loading-bar span {
  dislay: inline-block;
  padding: 5px 20px;
  background-color: orange;
}

.person {
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 30px;
  margin-top: 30px;
}

.top-nav {
  margin-bottom: 30px;
}
